
{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Signup{% endblock %}

{% block body %}

    <div class="module">
        {% if msg is defined %}
            <p>Vous avez un message : {{ msg }}</p>
        {% endif %}

        {{ form_start(form, {'attr': {'class':'form'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'textbox'}}) }}
        {{ form_row(form.nickname, {'attr': {'class': 'textbox'}}) }}
        {{ form_row(form.password, {'attr': {'class': 'textbox'}}) }}

        <div class="btn-holder">
            <button type="submit" class="button btn-validate">Signup</button>
        </div>


        {{ form_end(form) }}


    </div>




{% endblock %}
